
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    margin-top: 10.3rem;
    font-size: 1.6rem;
    background-color: rgb(200, 200, 201);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--white);
}

.max-width {
    width: 100%;
    max-width: 120rem;
    padding: 0 4rem;
    margin: 0 auto 0;
    margin-bottom: 1.5rem;
  }